/* Global Styling */
:root {
  --color-primary: #757575;
  --color-brand: #2196f3;
  --color-black: #000000;
  --color-inverted: #212121;
  --color-bcg-primary: #ffffff;
  --color-bcg-secondary: #2f303a;
  --color-bcg-accent: #f5f4fa;
  --color-border-header: #ececec;
}

body {
  color: var(--color-primary);
  background-color: var(--color-bcg-primary);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
}

/* Global Sizing */
h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0;
}

p {
    margin-bottom: 0;
}

ul.header-box__nav__list {
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

section {
  padding: 0 0 94px 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* HEADER STARTS */
/* HEADER GLobal */
.header {
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.container {
  max-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* LOGO Styling */
.header-box {
  display: flex;
  justify-content: space-between;
}

.header-box__nav {
  display: flex;
  gap: 93px;
}

.logo {
  color: var(--color-brand);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding: 24px 0;
  display: flex;
}

.logo__accent-header {
  color: var(--color-black);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
}

/* NAVIGATION*/
.header-box__nav__list {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-inverted);
  display: flex;
  padding: 0;
  margin: 0;
  gap: 50px;
}

.header-box__nav__link, .header-box__nav__link-current {
  display: flex;
  padding: 32px 0;
}

.header-box__nav__link-current {
  color: var(--color-brand);
  text-decoration: none;
  position: relative;
}

.header-box__nav__link-current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--color-brand);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}


.header-box__nav__link {
  color: var(--color-inverted);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-box__nav__link:hover,
.header-box__nav__link:focus {
  color: var(--color-brand);
}

/* CONTACTS Styling */
.address-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 50px;
}

.address-list__link {
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.address-list__link:hover,
.address-list__link:focus {
  color: var(--color-brand);
}

.address-list__icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link .address-list__icon:hover,
.address-list__link .address-list__icon:focus {
  fill: var(--color-brand);
}

/* Секція 1 (Hero) */
.hero {
  padding: 200px 0px 200px 0px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.hero__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-bcg-primary);
  margin-bottom: 30px;
  max-width: 1200px;
}

.button {
  color: var(--color-bcg-primary);
  background-color: var(--color-brand);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  letter-spacing: 0.06em;
  font-family: "Roboto", sans-serif;
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #188ce8;
  color: var(--color-bcg-primary);
}

/* Секція 2-3-4 */
.team__title, .whatwedo__title {
  color: var(--color-inverted);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.section {
  padding: 94px 0;
}

/* Секція 2 (Features) */
.features__subtitle {
  color: var(--color-inverted);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.features__list {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
}

.features__item {
  flex-basis: calc((100% - 90px) / 4);
}

.features__description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-primary);
  letter-spacing: 0.03em;
  gap: 30px;
  padding: 0;
}

.features__image {
  display: flex;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--color-bcg-accent);
  align-items: center;
  justify-content: center;
  margin: 0 0 30px 0;
}

/* Секція 3 (Чим ми займаємося) */
.whatwedo__title {
  margin-bottom: 50px;
}

.features-box__title__is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.whatwedo__list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.whatwedo__item {
  display: flex;
  flex-basis: calc((100% - 60px) / 3 );
  padding: 0;
  margin: 0;
  position: relative;
  margin-right: 30px;
}


.whatwedo__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--color-bcg-primary);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
}

/* Секція 4 (Наша команда) */
.team {
  background-color: var(--color-bcg-accent);
  padding: 94px 0;
}

.team__list{
  list-style: none;
  display: flex;
  gap: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.employees {
  padding: 30px 0;
}

.team__members__item {
  background-color: var(--color-bcg-primary);
  flex-basis: calc((100% - 90px) / 4 );
  border-radius: 0 0 4px 4px; 
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
}

.employees__title {
  color: var(--color-inverted);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.employees__subtitle {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.social-employees__list {
  display: flex;
  justify-content: center;
  margin: 16px 0 0 0;
}

.social-employees__item:not(:last-child) {
  margin: 0 10px 0 0;
  background-color: var(--color-bcg-primary);
}

.social-employees__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-bcg-primary);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-employees__link:hover,
.social-employees__link:focus {
  background-color: var(--color-brand);
}

.social-employees__link:hover .social-employees__icon,
.social-employees__link:focus .social-employees__icon {
  fill: var(--color-bcg-primary);
}

.social-employees__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Постійні клієнти */
.regular {
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--color-black);
}

.regular__list {
  display: flex;
  justify-content: center;
}

.regular__item:not(:last-child) {
  margin-right: 30px;
}

.regular__link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular__link:hover,
.regular__link:focus {
    background-color: var(--color-bcg-primary);
    border-color: var(--color-brand);
}

.regular__link:hover .regular__icon,
.regular__link:focus .regular__icon {
    fill: var(--color-brand);
}

/* Footer */
.footer-box {
  display: flex;
  align-items: baseline;
}

.foot {
  padding: 0;
  margin-bottom: 20px;
}

.footer {
  background-color: var(--color-bcg-secondary);
  padding: 60px 0;
}

.footer__link__address:hover,
.footer__link__address:focus,
.footer__link__contacts:hover,
.footer__link__contacts:focus {
  color: var(--color-brand);
}

.footer__link__address {
  color: var(--color-bcg-primary);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  letter-spacing: 0.03em;
  padding: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link__contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link__contacts:last-child {
  margin-bottom: 0;
}

.logo__accent-footer {
  color: var(--color-bcg-primary);
  padding: 0;
  display: flex;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

/* Footer Join Us */
.join-us__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-bcg-primary);
}

.join-us__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 10px;
}

.join-us {
  margin-left: 70px;
}

.join-us__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us__icon {
  fill: var(--color-bcg-primary);
}

.join-us__link:hover,
.join-us__link:focus {
    background-color: var(--color-brand);
}

/* FOOTER MAILING */
.mailing {
  display: flex;
  position: relative;
  margin-left: 93px;
}

.mailing__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-bcg-primary);
}

.mailing__form {
  display: flex;
  margin-top: 20px;
}

.mailing__form__field {
  display: block;
  width: 358px;
  background-color: transparent;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--color-bcg-primary);
}

.mailing__form__button {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 29px;
  width: 200px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-bcg-primary);
  background-color: var(--color-brand);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  border: none;
}

.mailing__form__button__icon {
  position: absolute;
  top: 13px;
  right: 28px;
}

.mailing__form__button__icon-send {
  fill: var(--color-bcg-primary);
}

/* Портфоліо */
.cases {
  padding: 0;
  margin: 30px 0;
}

.filter {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  border-radius: 4px;
  padding: 0;
  margin: 0 0 50px 0;
}

.filter-item{
  display: flex;
}

.button-filter {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-inverted);
  border: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 6px 25px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--color-brand);
  color: var(--color-bcg-primary);
  box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cases-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.cases-list-item {
  flex-basis: calc((100% - 60px) / 3 );
  max-width: 370px;
}

.case-text {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.cases-links {
  text-decoration: none;
}

.cases-links {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cases-links:hover,
.cases-links:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.description-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-inverted);
  margin-bottom: 4px;
}

.description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--color-primary);
}

.portfolio-card-overlay {
  position: relative;
  overflow: hidden; 
}

.overlay-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cases-links:hover .overlay-text,
.cases-links:focus .overlay-text {
  transform: translateY(0%);
  opacity: 1;
}

/* MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--color-bcg-primary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* FORM */
.modal-wrapper__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  display: block;
  margin-bottom: 12px;
}

.modal-form__group {
  width: 448px;
  height: 58px;
  display: block;
  margin-bottom: 10px;
  text-align: start;
}

.modal-form__text {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-primary);
  margin-bottom: 4px;
  text-align: start;
}

.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon {
  position: relative;
  bottom: 18px;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--logo-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__usercomment {
  display: block;
  margin-bottom: 20px;
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  padding: 12px 16px;
  display: block;
}

.modal-form__usercomment--text {
  width: 100%;
  height: 120px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus,
.modal-form__input:hover,
.modal-form__usercomment--text:hover,
.modal-form__usercomment--text:focus {
  border-color: var(--color-brand);
}

.modal-form__group:hover .modal-form__icon,
.modal-form__group:focus .modal-form__icon {
  fill: var(--color-brand);
}

.modal-form__terms {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-form__terms__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-primary);
  margin-left: 35px;
}

.modal-form__terms__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--color-brand);
}

.button-form {
  display: block;
  width: 200px;
  background-color: var(--color-brand);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  border: none;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.button-form:hover,
.button-form:focus {
  background-color: #188ce8;
}

.close-icon:hover,
.close-icon:focus {
  fill: var(--color-brand);
}

/* CHECKBOX */
.modal-form__terms__icon {
  position: absolute;
  left: 12px;
  width: 16px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
  border: 3px solid #212121;
  border-radius: 2px;
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__terms__checked {
  fill: var(--color-brand);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .modal-form__terms__icon .modal-form__terms__checked {
  fill: var(--color-brand);
  opacity: 1;
}

.checkbox:checked + .modal-form__terms__icon {
  border: none;
}

.checkbox:focus + .modal-form__terms__icon {
  border-color: var(--color-brand);
}

.checkbox:checked + .modal-form__terms__icon + .modal-form__terms__checked {
  opacity: 1;
}